<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>大雪山</string>
		<key>yomi</key>
		<string>たいせつざん</string>
		<key>region</key>
		<string>北海道</string>
		<key>prefecture</key>
		<string>北海道</string>
		<key>mtlatitude</key>
		<string>43.663611</string>
		<key>mtlongitude</key>
		<string>142.854167</string>
		<key>introduction</key>
		<string>大雪山のイントロダクション</string>
		<key>height</key>
		<string>2291</string>
		<key>mtrange</key>
		<string>大雪山系</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E6%97%AD%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス5</string>
		<key>season</key>
		<string>季節5</string>
		<key>plan</key>
		<string>登り方5</string>
		<key>contact</key>
		<string>問い合わせ5</string>
		<key>family</key>
		<string>家族・ペット・障害5</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ5</string>
		<key>hotsprings</key>
		<string>温泉紅葉5</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>name</key>
		<string>八甲田山</string>
		<key>yomi</key>
		<string>はっこうださん</string>
		<key>region</key>
		<string>東北</string>
		<key>prefecture</key>
		<string>青森県</string>
		<key>mtlatitude</key>
		<string>40.658611</string>
		<key>mtlongitude</key>
		<string>140.877222</string>
		<key>introduction</key>
		<string>八甲田山のイントロダクション</string>
		<key>height</key>
		<string>1584</string>
		<key>mtrange</key>
		<string>奥羽山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%85%AB%E7%94%B2%E7%94%B0%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス11</string>
		<key>season</key>
		<string>季節11</string>
		<key>plan</key>
		<string>登り方11</string>
		<key>contact</key>
		<string>問い合わせ11</string>
		<key>family</key>
		<string>家族・ペット・障害11</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ11</string>
		<key>hotsprings</key>
		<string>温泉紅葉11</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>巻機山</string>
		<key>yomi</key>
		<string>まきはたやま</string>
		<key>region</key>
		<string>上信越</string>
		<key>prefecture</key>
		<string>新潟県</string>
		<key>mtlatitude</key>
		<string>36.978611</string>
		<key>mtlongitude</key>
		<string>138.964167</string>
		<key>introduction</key>
		<string>巻機山のイントロダクション</string>
		<key>height</key>
		<string>1967</string>
		<key>mtrange</key>
		<string>三国山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%B7%BB%E6%A9%9F%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス26</string>
		<key>season</key>
		<string>季節26</string>
		<key>plan</key>
		<string>登り方26</string>
		<key>contact</key>
		<string>問い合わせ26</string>
		<key>family</key>
		<string>家族・ペット・障害26</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ26</string>
		<key>hotsprings</key>
		<string>温泉紅葉26</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>谷川岳</string>
		<key>yomi</key>
		<string>たにがわだけ</string>
		<key>region</key>
		<string>上信越</string>
		<key>prefecture</key>
		<string>新潟県</string>
		<key>mtlatitude</key>
		<string>36.837222</string>
		<key>mtlongitude</key>
		<string>138.93</string>
		<key>introduction</key>
		<string>谷川岳のイントロダクション</string>
		<key>height</key>
		<string>1977</string>
		<key>mtrange</key>
		<string>三国山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E8%B0%B7%E5%B7%9D%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス27</string>
		<key>season</key>
		<string>季節27</string>
		<key>plan</key>
		<string>登り方27</string>
		<key>contact</key>
		<string>問い合わせ27</string>
		<key>family</key>
		<string>家族・ペット・障害27</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ27</string>
		<key>hotsprings</key>
		<string>温泉紅葉27</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>燧ヶ岳</string>
		<key>yomi</key>
		<string>ひうちがたけ</string>
		<key>region</key>
		<string>尾瀬</string>
		<key>prefecture</key>
		<string>福島県</string>
		<key>mtlatitude</key>
		<string>36.955</string>
		<key>mtlongitude</key>
		<string>139.285278</string>
		<key>introduction</key>
		<string>燧ヶ岳のイントロダクション</string>
		<key>height</key>
		<string>2356</string>
		<key>mtrange</key>
		<string>越後山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E7%87%A7%E3%83%B6%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス36</string>
		<key>season</key>
		<string>季節36</string>
		<key>plan</key>
		<string>登り方36</string>
		<key>contact</key>
		<string>問い合わせ36</string>
		<key>family</key>
		<string>家族・ペット・障害36</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ36</string>
		<key>hotsprings</key>
		<string>温泉紅葉36</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>39</string>
		<key>name</key>
		<string>日光白根山</string>
		<key>yomi</key>
		<string>にっこうしらねさん</string>
		<key>region</key>
		<string>日光・足尾・上州</string>
		<key>prefecture</key>
		<string>栃木県</string>
		<key>mtlatitude</key>
		<string>36.798611</string>
		<key>mtlongitude</key>
		<string>139.375833</string>
		<key>introduction</key>
		<string>日光白根山のイントロダクション</string>
		<key>height</key>
		<string>2578</string>
		<key>mtrange</key>
		<string>日光連山</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E6%97%A5%E5%85%89%E7%99%BD%E6%A0%B9%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス39</string>
		<key>season</key>
		<string>季節39</string>
		<key>plan</key>
		<string>登り方39</string>
		<key>contact</key>
		<string>問い合わせ39</string>
		<key>family</key>
		<string>家族・ペット・障害39</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ39</string>
		<key>hotsprings</key>
		<string>温泉紅葉39</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>44</string>
		<key>name</key>
		<string>雲取山</string>
		<key>yomi</key>
		<string>くもとりやま</string>
		<key>region</key>
		<string>秩父・奥秩父</string>
		<key>prefecture</key>
		<string>埼玉県</string>
		<key>mtlatitude</key>
		<string>35.855556</string>
		<key>mtlongitude</key>
		<string>138.943889</string>
		<key>introduction</key>
		<string>雲取山のイントロダクション</string>
		<key>height</key>
		<string>2017</string>
		<key>mtrange</key>
		<string>奥秩父山塊</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E9%9B%B2%E5%8F%96%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス44</string>
		<key>season</key>
		<string>季節44</string>
		<key>plan</key>
		<string>登り方44</string>
		<key>contact</key>
		<string>問い合わせ44</string>
		<key>family</key>
		<string>家族・ペット・障害44</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ44</string>
		<key>hotsprings</key>
		<string>温泉紅葉44</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>49</string>
		<key>name</key>
		<string>那須岳</string>
		<key>yomi</key>
		<string>なすだけ</string>
		<key>region</key>
		<string>関東周辺</string>
		<key>prefecture</key>
		<string>福島県</string>
		<key>mtlatitude</key>
		<string>37.124806</string>
		<key>mtlongitude</key>
		<string>139.963139</string>
		<key>introduction</key>
		<string>那須岳のイントロダクション</string>
		<key>height</key>
		<string>1917</string>
		<key>mtrange</key>
		<string>那須連山</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E9%82%A3%E9%A0%88%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス49</string>
		<key>season</key>
		<string>季節49</string>
		<key>plan</key>
		<string>登り方49</string>
		<key>contact</key>
		<string>問い合わせ49</string>
		<key>family</key>
		<string>家族・ペット・障害49</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ49</string>
		<key>hotsprings</key>
		<string>温泉紅葉49</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
      <key>id</key>
      <string>52</string>
      <key>name</key>
      <string>富士山</string>
      <key>yomi</key>
      <string>ふじさん</string>
      <key>region</key>
      <string>関東周辺</string>
      <key>prefecture</key>
      <string>山梨県</string>
      <key>mtlatitude</key>
      <string>35.360628</string>
      <key>mtlongitude</key>
      <string>138.727365</string>
      <key>introduction</key>
      <string>富士山のイントロダクション</string>
      <key>height</key>
      <string>3776</string>
      <key>mtrange</key>
      <string>独立峰</string>
      <key>information</key>
      <string>概要52</string>
      <key>access</key>
      <string>アクセス52</string>
      <key>season</key>
      <string>季節52</string>
      <key>plan</key>
      <string>登り方52</string>
      <key>contact</key>
      <string>問い合わせ52</string>
      <key>family</key>
      <string>家族・ペット・障害52</string>
      <key>trails</key>
      <array>
        <string>トレイルA</string>
        <string>トレイルB</string>
      </array>
      <key>fun</key>
      <string>楽しみ52</string>
      <key>hotsprings</key>
      <string>温泉紅葉52</string>
      <key>camping</key>
      <array>
        <string>キャンプ場A</string>
        <string>山小屋A</string>
      </array>
    </dict>
	<dict>
		<key>id</key>
		<string>54</string>
		<key>name</key>
		<string>白馬岳</string>
		<key>yomi</key>
		<string>しろうまだけ</string>
		<key>region</key>
		<string>北アルプス</string>
		<key>prefecture</key>
		<string>長野県</string>
		<key>mtlatitude</key>
		<string>36.758611</string>
		<key>mtlongitude</key>
		<string>137.758611</string>
		<key>introduction</key>
		<string>白馬岳のイントロダクション</string>
		<key>height</key>
		<string>2932</string>
		<key>mtrange</key>
		<string>後立山連峰</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E7%99%BD%E9%A6%AC%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス54</string>
		<key>season</key>
		<string>季節54</string>
		<key>plan</key>
		<string>登り方54</string>
		<key>contact</key>
		<string>問い合わせ54</string>
		<key>family</key>
		<string>家族・ペット・障害54</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ54</string>
		<key>hotsprings</key>
		<string>温泉紅葉54</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>69</string>
		<key>name</key>
		<string>御嶽山</string>
		<key>yomi</key>
		<string>おんたけさん</string>
		<key>region</key>
		<string>御嶽山</string>
		<key>prefecture</key>
		<string>長野県</string>
		<key>mtlatitude</key>
		<string>35.892778</string>
		<key>mtlongitude</key>
		<string>137.480278</string>
		<key>introduction</key>
		<string>御嶽山のイントロダクション</string>
		<key>height</key>
		<string>3067</string>
		<key>mtrange</key>
		<string>独立峰</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%BE%A1%E5%B6%BD%E5%B1%B1_(%E9%95%B7%E9%87%8E%E7%9C%8C)</string>
		<key>access</key>
		<string>アクセス69</string>
		<key>season</key>
		<string>季節69</string>
		<key>plan</key>
		<string>登り方69</string>
		<key>contact</key>
		<string>問い合わせ69</string>
		<key>family</key>
		<string>家族・ペット・障害69</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ69</string>
		<key>hotsprings</key>
		<string>温泉紅葉69</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>73</string>
		<key>name</key>
		<string>八ヶ岳</string>
		<key>yomi</key>
		<string>やつがたけ</string>
		<key>region</key>
		<string>八ヶ岳・中信高原</string>
		<key>prefecture</key>
		<string>長野県</string>
		<key>mtlatitude</key>
		<string>35.970833</string>
		<key>mtlongitude</key>
		<string>138.37</string>
		<key>introduction</key>
		<string>八ヶ岳のイントロダクション</string>
		<key>height</key>
		<string>2899</string>
		<key>mtrange</key>
		<string>八ヶ岳連峰</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%85%AB%E3%83%B6%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス73</string>
		<key>season</key>
		<string>季節73</string>
		<key>plan</key>
		<string>登り方73</string>
		<key>contact</key>
		<string>問い合わせ73</string>
		<key>family</key>
		<string>家族・ペット・障害73</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ73</string>
		<key>hotsprings</key>
		<string>温泉紅葉73</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>74</string>
		<key>name</key>
		<string>木曽駒ヶ岳</string>
		<key>yomi</key>
		<string>きそこまがたけ</string>
		<key>region</key>
		<string>中央アルプス</string>
		<key>prefecture</key>
		<string>長野県</string>
		<key>mtlatitude</key>
		<string>35.789444</string>
		<key>mtlongitude</key>
		<string>137.804444</string>
		<key>introduction</key>
		<string>木曽駒ヶ岳のイントロダクション</string>
		<key>height</key>
		<string>2956</string>
		<key>mtrange</key>
		<string>木曽山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E6%9C%A8%E6%9B%BD%E9%A7%92%E3%83%B6%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス74</string>
		<key>season</key>
		<string>季節74</string>
		<key>plan</key>
		<string>登り方74</string>
		<key>contact</key>
		<string>問い合わせ74</string>
		<key>family</key>
		<string>家族・ペット・障害74</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ74</string>
		<key>hotsprings</key>
		<string>温泉紅葉74</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>80</string>
		<key>name</key>
		<string>北岳</string>
		<key>yomi</key>
		<string>きただけ</string>
		<key>region</key>
		<string>南アルプス</string>
		<key>prefecture</key>
		<string>山梨県</string>
		<key>mtlatitude</key>
		<string>35.674444</string>
		<key>mtlongitude</key>
		<string>138.238889</string>
		<key>introduction</key>
		<string>北岳のイントロダクション</string>
		<key>height</key>
		<string>3193</string>
		<key>mtrange</key>
		<string>赤石山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%8C%97%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス80</string>
		<key>season</key>
		<string>季節80</string>
		<key>plan</key>
		<string>登り方80</string>
		<key>contact</key>
		<string>問い合わせ80</string>
		<key>family</key>
		<string>家族・ペット・障害80</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ80</string>
		<key>hotsprings</key>
		<string>温泉紅葉80</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>87</string>
		<key>name</key>
		<string>白山</string>
		<key>yomi</key>
		<string>はくさん</string>
		<key>region</key>
		<string>北陸</string>
		<key>prefecture</key>
		<string>岐阜県</string>
		<key>mtlatitude</key>
		<string>36.155</string>
		<key>mtlongitude</key>
		<string>136.771389</string>
		<key>introduction</key>
		<string>白山のイントロダクション</string>
		<key>height</key>
		<string>2702</string>
		<key>mtrange</key>
		<string>両白山地</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E7%99%BD%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス87</string>
		<key>season</key>
		<string>季節87</string>
		<key>plan</key>
		<string>登り方87</string>
		<key>contact</key>
		<string>問い合わせ87</string>
		<key>family</key>
		<string>家族・ペット・障害87</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ87</string>
		<key>hotsprings</key>
		<string>温泉紅葉87</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>91</string>
		<key>name</key>
		<string>大峰山</string>
		<key>yomi</key>
		<string>おおみねさん</string>
		<key>region</key>
		<string>近畿・中国・四国</string>
		<key>prefecture</key>
		<string>奈良県</string>
		<key>mtlatitude</key>
		<string>34.2526</string>
		<key>mtlongitude</key>
		<string>135.941</string>
		<key>introduction</key>
		<string>大峰山のイントロダクション</string>
		<key>height</key>
		<string>1915</string>
		<key>mtrange</key>
		<string>紀伊山地</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%A4%A7%E5%B3%B0%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス91</string>
		<key>season</key>
		<string>季節91</string>
		<key>plan</key>
		<string>登り方91</string>
		<key>contact</key>
		<string>問い合わせ91</string>
		<key>family</key>
		<string>家族・ペット・障害91</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ91</string>
		<key>hotsprings</key>
		<string>温泉紅葉91</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>95</string>
		<key>name</key>
		<string>九重山</string>
		<key>yomi</key>
		<string>くじゅうさん</string>
		<key>region</key>
		<string>九州</string>
		<key>prefecture</key>
		<string>大分県</string>
		<key>mtlatitude</key>
		<string>33.082222</string>
		<key>mtlongitude</key>
		<string>131.240833</string>
		<key>introduction</key>
		<string>九重山のイントロダクション</string>
		<key>height</key>
		<string>1791</string>
		<key>mtrange</key>
		<string>九重火山群</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E4%B9%9D%E9%87%8D%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス95</string>
		<key>season</key>
		<string>季節95</string>
		<key>plan</key>
		<string>登り方95</string>
		<key>contact</key>
		<string>問い合わせ95</string>
		<key>family</key>
		<string>家族・ペット・障害95</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ95</string>
		<key>hotsprings</key>
		<string>温泉紅葉95</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
	</dict>
</array>
</plist>
