<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>44</string>
		<key>name</key>
		<string>雲取山</string>
		<key>yomi</key>
		<string>くもとりやま</string>
		<key>region</key>
		<string>秩父・奥秩父</string>
		<key>prefecture</key>
		<string>埼玉県</string>
		<key>mtlatitude</key>
		<string>35.855556</string>
		<key>mtlongitude</key>
		<string>138.943889</string>
		<key>introduction</key>
		<string>雲取山のイントロダクション</string>
		<key>height</key>
		<string>2017</string>
		<key>mtrange</key>
		<string>奥秩父山塊</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E9%9B%B2%E5%8F%96%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス44</string>
		<key>season</key>
		<string>季節44</string>
		<key>plan</key>
		<string>登り方44</string>
		<key>contact</key>
		<string>問い合わせ44</string>
		<key>family</key>
		<string>家族・ペット・障害44</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ44</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=150302&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
		<key>weather</key>
		<string>130010</string>
	</dict>
</array>
</plist>
