<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>大雪山</string>
		<key>yomi</key>
		<string>たいせつざん</string>
		<key>region</key>
		<string>北海道</string>
		<key>prefecture</key>
		<string>北海道</string>
		<key>mtlatitude</key>
		<string>43.663611</string>
		<key>mtlongitude</key>
		<string>142.854167</string>
		<key>introduction</key>
		<string>雄大な自然が創り出した”神々の遊ぶ庭”</string>
		<key>height</key>
		<string>2291</string>
		<key>mtrange</key>
		<string>大雪山系</string>
		<key>information</key>
		<string>大雪山（たいせつざん、だいせつざん）とは、北海道中央部にそびえる火山群の名称である。
一つの山ではないことを明確にするため、「大雪山系」という呼称もしばしば使われる。大雪山系と言われる場合、広義には表大雪、北大雪、東大雪、十勝岳連峰を包含する大雪山国立公園の南北63km、東西59kmと広大な広さとなり、その面積は神奈川県とほぼ同じである。
「大雪山」は本来、現在「表大雪」と呼ばれている、お鉢平を中心としたエリアを指す呼称であり、「大雪山系」がそのように使われることもある。先住民アイヌは「ヌタップカウシペnutap-ka-us-pe」もしくは十勝岳連峰と合わせて「オプタテシケop-ta-tes-ke」と呼んでいた。
国の特別天然記念物（天然保護区域）及び国指定大雪山鳥獣保護区（大規模生息地、面積35,534ha）に指定されている。
大雪山連峰の主峰は旭岳で標高2,291m。北海道最高峰。東川町の旭岳温泉から姿見の池（標高1,600m）まで大雪山旭岳ロープウェイがあり、比較的手頃な登山が楽しめるとあって、多くの登山者が訪れる。姿見の池付近はなだらかで高山植物が広がり、本州では3,000m級の山にしかないような植物を見ることができる。また運がよければシマリスの観察もできる。
しかし高山であり、夏でも天候が急変すると疲労凍死者が出るほどであることから、天候の急変に備えて非常用装備や秋の北アルプス並みの服装が必要。頂上付近は急坂の岩場が続くが、道の目印となる「金庫岩」と似た「ニセ金庫岩」があることもあり道に迷いやすい（近年は道なりにロープを張る事で改善された）。1989年（平成元年）のSOS遭難事件もここで道を間違えたと言われている。
かつてここを北海道道212号旭川大雪山層雲峡線で貫く計画があったが中止となり、2000年（平成12年）に道道は完成部分で2分割され、北海道道1160号旭川旭岳温泉線と北海道道1162号銀泉台線となっている。（wikipediaより引用）</string>
		<key>access</key>
		<string>旭川空港から、旭川駅行きの空港専用バス（道北バスまたは旭川電気軌道バス）に乗車し、旭川駅下車。
旭岳行きの旭川電気軌道バス「いで湯号」（1日4往復）に乗車し、終点の旭岳（旭岳ロープウェイ山麓駅）下車。

＜JR＞
函館線 旭川駅より旭岳行きの旭川電気軌道バス「いで湯号」に乗車し、終点の旭岳（旭岳ロープウェイ山麓駅）下車。

車の場合
旭川空港から東川町経由で旭岳温泉へ向かう。旭川空港から約1時間。</string>
		<key>season</key>
		<string>6月下旬〜9月</string>
		<key>plan</key>
		<string>登り方5</string>
		<key>contact</key>
		<string>北海道警察　旭川方面本部　地域課
代表：0166-35-0110
層雲峡観光協会 TEL:01658-2-1811
層雲峡観光案内所 TEL:01658-5-3350
上川町産業経済課（高原温泉・銀泉台交通規制問い合せ） TEL:01658-2-1211
層雲峡ロープウェイ（黒岳） TEL:01658-5-3031 </string>
		<key>family</key>
		<string>家族・ペット・障害5</string>
		<key>trails</key>
		<array>
			<string>天女ヶ原コース（旭岳登山口）</string>
			<string>層雲峡コース（層雲峡）</string>
			<string>沼ノ平、永山岳コース（愛山渓温泉）</string>
			<string>銀泉台コース（赤岳登山口）</string>
			<string>大雪高原温泉コース（ヒグマ情報センター）</string>
		</array>
		<key>fun</key>
		<string>楽しみ5</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=012011&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>旭岳石室（天女ヶ原コース）　※避難小屋</string>
			<string>白雲岳避難小屋（大雪高原温泉コース）</string>
			<string>黒岳石室（層雲峡コース）</string>
			<string>国設旭岳青少年野営場（旭岳温泉）</string>
			<string>国設層雲峡野営場（層雲峡）</string>
			<string>層雲峡村オートキャンプ場（層雲峡）</string>
			<string>裏旭キャンプ指定地（天女ヶ原コース）</string>
			<string>黒岳キャンプ指定地（層雲峡コース）</string>
			<string>白雲岳キャンプ指定地（大雪温泉高原コース）</string>
		</array>
		<key>weather</key>
		<string>012010</string>
		<key>twitter</key>
		<string>asahidake_2291</string>
	</dict>
</array>
</plist>
