<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>巻機山</string>
		<key>yomi</key>
		<string>まきはたやま</string>
		<key>region</key>
		<string>上信越</string>
		<key>prefecture</key>
		<string>新潟県</string>
		<key>mtlatitude</key>
		<string>36.978611</string>
		<key>mtlongitude</key>
		<string>138.964167</string>
		<key>introduction</key>
		<string>巻機山のイントロダクション</string>
		<key>height</key>
		<string>1967</string>
		<key>mtrange</key>
		<string>三国山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%B7%BB%E6%A9%9F%E5%B1%B1</string>
		<key>access</key>
		<string>アクセス26</string>
		<key>season</key>
		<string>季節26</string>
		<key>plan</key>
		<string>登り方26</string>
		<key>contact</key>
		<string>問い合わせ26</string>
		<key>family</key>
		<string>家族・ペット・障害26</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ26</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=171305&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
		<key>weather</key>
		<string>100020</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>谷川岳</string>
		<key>yomi</key>
		<string>たにがわだけ</string>
		<key>region</key>
		<string>上信越</string>
		<key>prefecture</key>
		<string>新潟県</string>
		<key>mtlatitude</key>
		<string>36.837222</string>
		<key>mtlongitude</key>
		<string>138.93</string>
		<key>introduction</key>
		<string>谷川岳のイントロダクション</string>
		<key>height</key>
		<string>1977</string>
		<key>mtrange</key>
		<string>三国山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E8%B0%B7%E5%B7%9D%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス27</string>
		<key>season</key>
		<string>季節27</string>
		<key>plan</key>
		<string>登り方27</string>
		<key>contact</key>
		<string>問い合わせ27</string>
		<key>family</key>
		<string>家族・ペット・障害27</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ27</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=090402&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
		<key>weather</key>
		<string>100020</string>
	</dict>
</array>
</plist>
