<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>97</string>
		<key>name</key>
		<string>阿蘇山</string>
		<key>yomi</key>
		<string>あそさん</string>
		<key>region</key>
		<string>九州</string>
		<key>prefecture</key>
		<string>熊本県</string>
		<key>mtlatitude</key>
		<string>32.884167</string>
		<key>mtlongitude</key>
		<string>131.103889</string>
		<key>introduction</key>
		<string>「火の国」熊本県のシンボル的な存在</string>
		<key>height</key>
		<string>1592</string>
		<key>mtrange</key>
		<string>阿蘇カルデラ</string>
		<key>information</key>
		<string>阿蘇山（あそさん）は、熊本県阿蘇地方に位置する活火山。なお「阿蘇山」は通称であり、正式には阿蘇五岳（あそごがく）という（現噴火口のある山は「阿蘇中岳」）。
世界でも有数の大型カルデラと雄大な外輪山を持ち、「火の国」熊本県のシンボル的な存在として親しまれている。火山活動が平穏な時期には火口に近づいて見学できるが、活動が活発化したり、有毒ガスが発生した場合は火口付近の立入りが規制される。
外輪山の内側を中心として阿蘇くじゅう国立公園に指定されている。温泉や観光・レジャースポットが点在する有数の観光エリア。夏になると多くのライダーがツーリングで訪れる場所である。
2007年、日本の地質百選に「阿蘇」として選定された。
2009年には、カルデラ内外の地域が「阿蘇ジオパーク」として日本ジオパークに認定された。
最高峰の高岳（1,592.3m）を始めとする中岳（1,506m）、根子岳（1,408m）、烏帽子岳（1,337m）、杵島岳（1,270m）の阿蘇五岳の他、往生岳（1,235m）などを含む1,000m級の山が連なる。烏帽子岳山頂には一等三角点「西烏帽子岳」、高岳山頂には三等三角点「高岳」、根子岳山頂東側の尾根には二等三角点「根子岳」が設置されている。（wikipediaより引用）</string>
		<key>access</key>
		<string>電車：JR豊肥本線宮地駅から仙酔峡までタクシーで約15分。 
車：九州自動車道熊本インターから国道57号、仙酔峡道路を進み仙酔峡に駐車場150台分あり（無料）。</string>
		<key>season</key>
		<string>5月〜10月</string>
		<key>plan</key>
		<string>登り方95</string>
		<key>contact</key>
		<string>熊本県警察本部　地域課
代表：096-381-0110</string>
		<key>family</key>
		<string>家族・ペット・障害95</string>
		<key>trails</key>
		<array>
			<string>仙酔尾根コース</string>
		</array>
		<key>fun</key>
		<string>楽しみ95</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=430505&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>仙酔峡避難小屋</string>
			<string>阿蘇坊中キャンプ場</string>
			<string>鍋の平キャンプ村</string>
		</array>
		<key>weather</key>
		<string>430020</string>
		<key>twitter</key>
		<string>minamiaso_kanko</string>
	</dict>
</array>
</plist>
