<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>80</string>
		<key>name</key>
		<string>北岳</string>
		<key>yomi</key>
		<string>きただけ</string>
		<key>region</key>
		<string>南アルプス</string>
		<key>prefecture</key>
		<string>山梨県</string>
		<key>mtlatitude</key>
		<string>35.674444</string>
		<key>mtlongitude</key>
		<string>138.238889</string>
		<key>introduction</key>
		<string>北岳のイントロダクション</string>
		<key>height</key>
		<string>3193</string>
		<key>mtrange</key>
		<string>赤石山脈</string>
		<key>information</key>
		<string>http://ja.wikipedia.org/wiki/%E7%89%B9%E5%88%A5:%E3%83%87%E3%83%BC%E3%82%BF%E6%9B%B8%E3%81%8D%E5%87%BA%E3%81%97/%E5%8C%97%E5%B2%B3</string>
		<key>access</key>
		<string>アクセス80</string>
		<key>season</key>
		<string>季節80</string>
		<key>plan</key>
		<string>登り方80</string>
		<key>contact</key>
		<string>問い合わせ80</string>
		<key>family</key>
		<string>家族・ペット・障害80</string>
		<key>trails</key>
		<array>
			<string>トレイルA</string>
			<string>トレイルB</string>
		</array>
		<key>fun</key>
		<string>楽しみ80</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=151102&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>キャンプ場A</string>
			<string>山小屋A</string>
		</array>
		<key>weather</key>
		<string>190010</string>
	</dict>
</array>
</plist>
