<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>name</key>
		<string>八甲田山</string>
		<key>yomi</key>
		<string>はっこうださん</string>
		<key>region</key>
		<string>東北</string>
		<key>prefecture</key>
		<string>青森県</string>
		<key>mtlatitude</key>
		<string>40.658611</string>
		<key>mtlongitude</key>
		<string>140.877222</string>
		<key>introduction</key>
		<string>四季を通じて多様な魅力を備えた大自然</string>
		<key>height</key>
		<string>1584</string>
		<key>mtrange</key>
		<string>奥羽山脈</string>
		<key>information</key>
		<string>八甲田山（はっこうださん）は、青森市の南側にそびえる複数火山の総称で日本百名山の一つ。「八甲田山」と名がついた単独峰は存在しない。岩木山と同様 本州最北部にある火山群。命名の由来について「新撰陸奥国志」によれば、八の（たくさんの）甲（たて）状の峰と山上に多くの田代（湿原）があるからという。現在の火山活動は穏やか。周辺は世界でも有数の豪雪地帯。
明治35年に青森の歩兵第五連隊が雪中行軍の演習中に記録的な寒波に由来する吹雪に遭遇し、210名中199名が遭難した事件（八甲田雪中行軍遭難事件）が発生、それを基に新田次郎の小説「八甲田山死の彷徨」が書かれている。
なお、陸上自衛隊青森駐屯地に駐屯する第5普通科連隊も、毎年、厳冬期に、八甲田山系での冬季雪中戦技演習を行なっている。
標高1,584mの大岳のほかに、田茂萢岳（たもやちだけ）、赤倉岳、小岳、高田大岳などの山々がほとんど同じ高さで並んでいる。ロープウェイは田茂萢岳に設置されており、冬はスキー、積雪期以外ならハイキング気分で山歩きが楽しめる。秋には全山紅葉し見事な錦秋模様となる上、登山道沿いにはコケモモやガンコウランがたくさん実をつけており、目と舌の両方を楽しませてくれる。また、冬季には東北地方でも有数の豪雪と強い季節風によりアオモリトドマツに見事な樹氷を楽しむことができる。加えて、山麓に散在する温泉群は、多様の泉質で味わい深い。
北八甲田山系は比較的登山道が整備されている山が多いものの、南八甲田山系の登山道は意図的にぎりぎり人が利用できる程度の整備しか行われていない。そのため、南八甲田山系の山に無雪期に登るためには長時間の藪こぎや荒れた登山道の移動を強いられる。南八甲田山系の登山は夏期の登山よりも、山スキーを利用した積雪期の登山を行う人の方が多い。
八甲田山系は八甲田大岳を盟主として南北2群の火山よりなり、その中間に睡蓮沼を含む湿原地帯がある。
山系を構成する山々は国道103号・国道394号の重複道路を境に、北部八甲田山系と南部八甲田山系に分かれて、後者の方が地層が古い。
北部八甲田山系：
北部より前嶽・田茂萢岳 (1,324m) ・赤倉岳 (1,548m) ・井戸岳 (1,550m) ・大岳 (1,584m) ・小岳 (1,478m) ・高田大岳 (1,552m) ・雛岳 (1,240m) ・硫黄岳（八甲田） (1,360m) ・石倉岳(1,202m)
南部八甲田山系：
北部より逆川岳 (1,183m)・横岳(1,339m) ・猿倉岳 (1,354m) ・駒ヶ峯 (1,416m) ・櫛ヶ峯 (1,517m) ・乗鞍岳（八甲田）(1,450m) ・南部赤倉岳（1,290m）（wikipediaより引用）</string>
		<key>access</key>
		<string>電車：JR青森駅からJRバス十和田湖行きで1時間、八甲田ロープウェー駅前下車すぐ（ロープウェー山麓駅）
車：青森自動車道青森中央ICから国道103号を十和田湖方面へ車で20km（ロープウェー山麓駅）</string>
		<key>season</key>
		<string>6月〜10月</string>
		<key>plan</key>
		<string>登り方11</string>
		<key>contact</key>
		<string>青森県警察本部　地域課
代表：017-723-4211</string>
		<key>family</key>
		<string>家族・ペット・障害11</string>
		<key>trails</key>
		<array>
			<string>大岳登山ルート（ロープウェー利用の初心者向けコース）</string>
			<string>酸ヶ湯からの大岳登山ルート（標準コース）</string>
			<string>ロープウェーから毛無パラダイスラインコース（毛無岱の中央部を縦走）</string>
			<string>酸ヶ湯（毛無岱経由）から谷地温泉へのルート（名湯を結ぶ主要峰の縦走コース）</string>
		</array>
		<key>fun</key>
		<string>楽しみ11</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=020202&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>仙人岱避難小屋</string>
			<string>大岳避難小屋</string>
			<string>酸ヶ湯野営場</string>
			<string>MOYA HILLSオートキャンプ場</string>
			<string>田代平キャンプ場（青森）</string>
		</array>
		<key>weather</key>
		<string>020010</string>
	</dict>
</array>
</plist>
