<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>73</string>
		<key>name</key>
		<string>八ヶ岳</string>
		<key>yomi</key>
		<string>やつがたけ</string>
		<key>region</key>
		<string>八ヶ岳・中信高原</string>
		<key>prefecture</key>
		<string>長野県</string>
		<key>mtlatitude</key>
		<string>35.970833</string>
		<key>mtlongitude</key>
		<string>138.37</string>
		<key>introduction</key>
		<string>レジャーから本格登山まで奥深い自然が楽しめる</string>
		<key>height</key>
		<string>200020</string>
		<key>mtrange</key>
		<string>八ヶ岳連峰</string>
		<key>information</key>
		<string>八ヶ岳（やつがたけ、八ケ岳とも表記される）は、長野県の諏訪地域と佐久地域および山梨県の境にある山塊。南北30km余りの山体で、大火山群である。深田久弥の日本百名山の一つ。「八ヶ岳」は長野県と山梨県にまたがる山塊の総称であり、山そのものに八ヶ岳と名付けられた山は存在しない。
「八ヶ岳」の由来は、「八百万」などと同じように、山々が多く連なる様子から「たくさん」という意味で「八」としたとも、幾重もの谷筋が見える姿から「谷戸（やと）」にちなんで名づけられたとも、文字通り八つの峰に見えるからとも、複数のいわれが存在する。
赤岳を最高峰に横岳などで構成。その山容は、夏沢鉱泉と本沢温泉を結ぶ夏沢峠を境界として、北八ヶ岳と南八ヶ岳に大きく分けられる。北八ヶ岳は、樹林帯が山稜近くまで続き、また比較的なだらかな峰が多く、湖沼も点在する。一方、南八ヶ岳は、主峰の赤岳をはじめ、横岳・硫黄岳・阿弥陀岳の鋭い峰々や、横岳西面の大同心・小同心に代表される岩峰群などがあり、急峻な地形となっている。このため、日本有数のロッククライミングの岩場があることとして知られ、また冬場は氷瀑のアイスクライミングでも知られる岩稜が中心となっている。このように、南北の山容は対照的である。狭義では南八ヶ岳のみを言うことがある。日本百名山の八ヶ岳はこの狭義の山域を指す。八ヶ岳連峰では他に蓼科山も日本百名山に選ばれている。
これらのほとんどのエリアが、八ヶ岳中信高原国定公園に指定されている。
この一帯は、火山地帯のため、多くの温泉を有している。火山としての八ヶ岳は歴史時代、確実な噴火記録は残っていないが、888年に北八ヶ岳の天狗岳が崩壊し、その結果、松原湖などの湖が誕生したと考えられている。崩壊の原因は噴火とも地震とも言われているが、地震、噴火とも今もって全く証拠が見つからず、大きな謎になっている[1]。また歴史上の記録には残っていないが、北横岳には地質的に新しい溶岩噴出があり、最近の研究では600〜800年前の噴出と見られている[2]。
広大な裾野は、東側の清里高原や野辺山高原、西側の富士見高原や蓼科高原などで知られている。夏の冷涼な気候を利用してレタスやキャベツなどの高原野菜の栽培が行われている。
山麓には伏流水が湧くため、特に西南側の裾野一帯にかけて縄文時代の遺跡が濃密に分布する。長野県側では井戸尻遺跡や尖石遺跡が知られる。山梨県側では縄文草創期の神取遺跡（北杜市、旧北巨摩郡明野村）や青木遺跡をはじめ、諸磯式期の天神遺跡（旧大泉村）がある。縄文中期には拠点集落が山麓地域から甲府盆地へ移るが、八ヶ岳山麓でも敷石住居群が見られる上ノ原遺跡がある。後晩期には全域的に遺跡数が減少するものの、金生遺跡（旧大泉村）は集落跡と祭祀施設が複合した遺跡で、縄文時代の精神文化が現れた配石遺構が見られる。（wikipediaより引用）</string>
		<key>access</key>
		<string>電車・バス・タクシー： ＪＲ中央線茅野駅よりバスを利用。美濃戸口行き。（約４０分） 
車： 中央自動車道諏訪南ICを出て左折。突き当たりまで進み左折。 あとは終点美濃戸口まで。</string>
		<key>season</key>
		<string>7月〜9月</string>
		<key>plan</key>
		<string>登り方73</string>
		<key>contact</key>
		<string>長野県警察本部　地域課（茅野市、富士見・佐久穂・小海町、原・南牧村側）
代表：026-233-0110
山梨県警察本部　地域課（北杜市側）
代表：055-235-2121</string>
		<key>family</key>
		<string>家族・ペット・障害73</string>
		<key>trails</key>
		<array>
			<string>難易度に合わせてルート多数</string>
		</array>
		<key>fun</key>
		<string>楽しみ73</string>
		<key>hotsprings</key>
		<string>http://jws.jalan.net/APICommon/OnsenSearch/V1/?key=cyg13c97aa2a42&amp;s_area=151405&amp;xml_ptn=1</string>
		<key>camping</key>
		<array>
			<string>山小屋・キャンプ場ともに多数</string>
		</array>
		<key>weather</key>
		<string>200020</string>
		<key>twitter</key>
		<string>yatsu_lodge</string>
	</dict>
</array>
</plist>
